@import "tailwindcss";

@theme {
  --color-background: #F9F8F6;
  --color-white: #f8f8f8;
  --color-green: #016749;
  --color-blue: #00548e;

  --breakpoint-xs: 540px;
  --breakpoint-xxs: 400px;
}

* {
  scroll-behavior: smooth;
}